.sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    max-width: 250px;
    overflow-y: auto;
    background-color: #212529;
  }
  
  .sidebar .welcome-message {
    font-weight: bold;
    color: #fff;
  }
  
  .sidebar .nav-link {
    font-size: 16px;
    color: #ccc;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .sidebar .nav-link:hover {
    background-color: #333;
    color: #fff;
  }
  
  .sidebar .nav-link.active {
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
  }
  