.custom-css {
     margin-left: 35px;
     margin-right: 35px;
     margin-top: 50px;
     margin-bottom: 50px;
     padding: 20px;
     padding-left: 60px !important;
     padding-right: 250px;
     padding-top: 30px;
     position: relative;
   }
   
   .p-custom {
     padding-left: 50px;
     font-size: 15px;
     font-family:fantasy;
   }
   
   h1 {
     font-size: 48px;
   }
   
   .profile-pic {
     margin-right: 40px;
     border-radius: 50%;
     width: 160px;
     height: 160px;
     object-fit: cover;
   }
   .property-section{
     width: 100px;
     height: auto;
   }
  
   .imgAd {
    position: absolute; /* Use absolute positioning */
    top: 128%; /* Center vertically */
    left: 9%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust for exact centering */
    z-index: 10; /* Ensure it's in front of the text */
    background: url('../../assets/r.png') no-repeat center center; /* Set the image */
    background-size: contain; /* Adjust size as needed */
    width: 20vw; /* Full viewport width for the image container */
    height: 18vh; /* Full viewport height for the image container */
}