/* Sidebar styles */
.sidebar {
     transition: width 0.3s;
     height: calc(100vh - 56px); 
     overflow: hidden; 
   }
   
   .sidebar-open {
     width: 250px; /* Open width */
   }
   
   .sidebar-closed {
     width: 80px; /* Closed width */
   }
   
   .sidebar-header {
     background: #343a40;
     color: #ffffff;
     border-bottom: 1px solid #6c757d;
   }
   
   .toggle-btn {
     cursor: pointer;
   }
   
   .sidebar-header h4 {
     margin: 0;
     font-size: 1.25rem;
   }
   
   /* Sidebar Links */
   .sidebar-link {
     color: #adb5bd;
     border-radius: 0.25rem;
     transition: background-color 0.3s, color 0.3s;
     display: flex;
     align-items: center;
     padding: 10px;
   }
   
   .sidebar-link:hover,
   .sidebar-link.active {
     color: #ffffff;
     background-color: #495057;
   }
   
   .icon {
     font-size: 1.5rem;
     transition: font-size 0.3s;
   }
   
   .icon-large {
     font-size: 2rem; /* Larger icon size when sidebar is closed */
   }
   
   .link-text {
     margin-left: 10px;
     font-size: 1rem;
   }
   
   .sidebar-closed .link-text {
     display: none;
   }
   
   .sidebar-closed .icon {
     margin: 0 auto;
   }
   
   /* Main content styles */
   .main-content {
     transition: margin-left 0.3s;
     margin-left: 250px; /* Default width when sidebar is open */
   }
   
   .sidebar-closed + .main-content {
     margin-left: 80px; /* Adjust margin when sidebar is closed */
   }
   
   /* Responsive Design */
   @media (max-width: 768px) {
     .sidebar-open,
     .sidebar-closed {
       width: 100%; /* Full width on smaller screens */
     }
     .sidebar-closed {
       display: none; /* Hide the collapsed sidebar on very small screens */
     }
     .main-content {
       margin-left: 0; /* Remove margin on very small screens */
     }
   }
   
   